body,
h1,
h2,
h3,
h4,
h5,
h6,
img,
p,
input,
li,
ul,
ol {
  padding: 0;
  margin: 0;
}
div {
  box-sizing: border-box;
}
li,
ul,
ol {
  list-style: none;
}
input,
img {
  outline: none;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 60px;
  color: #fff;
  background-color: #23262e;
}
.header .left {
  text-align: center;
  font-size: 20px;
  font-family: initial;
}
.header .left span {
  color: #23262e;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 30px;
}
.header .right {
  flex: 2;
}
